<footer class="footer bg-black py-3 mt-auto">
    <div class="container d-flex flex-column align-items-center">
        <div class="align-items-center">
            <img src="/images/blackcat-logo.jpeg" alt="Black Cat Logo" class="brand-logo me-2" style="height: 90px">
        </div>
    </div>
</footer>